<head>
  <h1>WELCOME TO...</h1></br></br>

    <h1 id ="RPS">ROCK, PAPER, SCISSORS!</h1>

</head>

    <a href= "/start"><img src="https://orig00.deviantart.net/6c80/f/2015/206/8/9/retro_start_button_by_videogameelements-d92sm07.png" width = "500" height = "200"/></a>
</ul>
