<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Rock Paper Scissors Game</title>
  </head>
    <img src="https://nextshark-vxdsockgvw3ki.stackpathdns.com/wp-content/uploads/2015/12/large-12.jpg" width="600", height="200">
  <body>
    <nav>


    </nav>
    <%= yield %>

  </body>


</html>
