<h1> Player 1 has chosen...</h1>
<h2>Player 2 - Choose your weapon!</h2>
<ul>
    <li> <a href= "/paper/rock/result">ROCK</a></li>
    <li> <a href= "/paper/paper/result">PAPER</a></li>
    <li> <a href= "/paper/scissors/result">SCISSORS</a></li>
</ul>
