<h1> Player 1 has chosen...</h1>
<h2>Player 2 - Choose your weapon!</h2>

   <a href= "/start/rock/rock/result"><img src="https://i.imgur.com/sOl5FSw.gif" width ="250" height = "150"/></a>

   <a href= "/start/rock/paper/result"><img src="https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9TZWFtbGVzc19DcnVtcGxlZF9QYXBlcl9QcmV2aWV3MS5wbmc&q=90&enlarge=true&h=1036&w=1600" width ="250" height = "150"/></a>

    <a href= "/start/rock/scissors/result"><img src="https://media.istockphoto.com/photos/scissors-in-female-hand-picture-id520838722?k=6&m=520838722&s=612x612&w=0&h=-JPfo2uEJJiWWlGV6dxx8dVhRQtrOYikgj001Ae1-7Q="width ="250" height = "150"/></a>
