<h1> Player 1...</h1>
<h2>Choose your weapon!</h2>
<ul>
    <li> <a href= "/start/rock">ROCK</a></li>
    <li> <a href= "/start/paper">PAPER</a></li>
    <li> <a href= "/start/scissors">SCISSORS</a></li>
</ul>
