<h1> Player 1...</h1>
<h2>Choose your weapon!</h2>
<ul style="list-style-type:none">
    <li> <a href= "/start/rock"><img src="https://i.imgur.com/sOl5FSw.gif" width ="250" height = "150"/></a></li>
    <li> <a href= "/start/paper">PAPER</a></li>
    <li> <a href= "/start/scissors">SCISSORS</a></li>
</ul>
